<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sinha’s murder was planned</title>
    <link rel="stylesheet" href="sinha.css">
</head>
<body>
    <div class="logo">
        <a href="index.html"><img src="newstime_logo.jpg" width="300px"></a> 
     </div>
     <div id="navbar">
        <ul>
            <li><a href="./index.html" aria-current="page" style="margin-left:20px;">Today's News</a></li>
            <li><a href="#" aria-current="page">National</a>
            <ul>
                <li>
                <a href="#">Politics</a>
                <a href="#">Judiciary</a>
                <a href="#">Campus</a>
                <a href="#">City</a>
                <a href="#">Districts</a>
              </li>
            </ul>
            </li>
            <li><a href="#" aria-current="page">Bangladesh</a></li>
            <li><a href="#" aria-current="page">World News</a></li>
            <li><a href="#" aria-current="page">Bussiness</a></li>
            <li><a href="#" aria-current="page">Sports</a></li>
            <li><a href="#" aria-current="page">Entertainment</a></li>
            <li><a href="#" aria-current="page">Science</a></li>
            <li><a href="#" aria-current="page">Tech</a></li>
            <li><a href="#" aria-current="page">Art & culture</a></li>
            <li><a href="#" aria-current="page">Future</a></li>
        </ul>
    </div>
</body>
</html>